# Perform data extraction from xml file to dataframe/csv

In [1]:
import pandas as pd
import xml.etree.ElementTree as et

In [2]:
xtree = et.parse('student_data.xml')
xtree

In [3]:
xroot = xtree.getroot()
xroot.tag

'data'

In [4]:
rows = []
for node in xroot:
    sname = node.attrib.get("name") if node is not None else None
    semail = node.find("email").text if node is not None else None
    srollno = node.find('roll_no').text if node is not None else None
    sage = node.find('age').text if node is not None else None
    rows.append({'Name':sname, 'Email':semail, 'RollNo':srollno, 'Age':sage})

In [5]:
df = pd.DataFrame(data = rows)
df.head()

      Name               Email RollNo   Age
0     John      john@gmail.com     1    16
1   Pratap    pratap@gmail.com     2    15
2    Lydia     lydia@gmail.com     3    16
3  Subhash   shubash@gmail.com     4    17
4    Naved     naved@gmail.com     5    16

In [6]:
df.to_csv('output2.csv')