In [1]:
!pip install mlxtend==0.23.1

Collecting mlxtend==0.23.1
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from mlxtend==0.23.1) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from mlxtend==0.23.1) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from mlxtend==0.23.1) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from mlxtend==0.23.1) (1.2.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from mlxtend==0.23.1) (3.10.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from mlxtend==0.23.1) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.24.2->mlxtend==0.23.1) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.24.2->mlxtend==0.23.1) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn>=1.0.2->mlxtend==0.23.1) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\uday8\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend==0.23.1) (1.17.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ---------------------------- ----------- 1.0/1.4 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 3.8 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [19]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

### Creating a Customize dataset

In [25]:
data = [['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
        ['chips', 'bananas', 'nutmeg', 'eggs', 'curd', 'red bull'],
        ['pani puri', 'chips', 'maggie', 'eggs', 'peanuts', 'onion'],
        ['chicken', 'fish', 'bread','banana'],
        ['chicken', 'milk', 'yogurt', 'bread', 'chips'],
        ['rice', 'apple', 'chips']]
data

[['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
 ['chips', 'bananas', 'nutmeg', 'eggs', 'curd', 'red bull'],
 ['pani puri', 'chips', 'maggie', 'eggs', 'peanuts', 'onion'],
 ['chicken', 'fish', 'bread', 'banana'],
 ['chicken', 'milk', 'yogurt', 'bread', 'chips'],
 ['rice', 'apple', 'chips']]

NaN=Null can have value 0 but None is nothing

In [26]:
te = TransactionEncoder()

In [27]:
te_array = te.fit(data).transform(data)
te_array

array([[False, False, False, False, False, False, False,  True, False,
         True, False,  True,  True,  True, False, False, False, False,
         True],
       [False, False,  True, False, False,  True,  True,  True, False,
        False, False, False,  True, False, False, False,  True, False,
        False],
       [False, False, False, False, False,  True, False,  True, False,
        False,  True, False, False,  True,  True,  True, False, False,
        False],
       [False,  True, False,  True,  True, False, False, False,  True,
        False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False,  True,  True,  True, False, False, False,
        False, False,  True, False, False, False, False, False, False,
         True],
       [ True, False, False, False, False,  True, False, False, False,
        False, False, False, False, False, False, False, False,  True,
        False]])

In [28]:
df = pd.DataFrame(te_array, columns = te.columns_)
df.head()

,apple,banana,bananas,bread,chicken,chips,curd,eggs,fish,kidney beans,maggie,milk,nutmeg,onion,pani puri,peanuts,red bull,rice,yogurt
0,False,False,False,False,False,False,False,True,False,True,False,True,True,True,False,False,False,False,True
1,False,False,True,False,False,True,True,True,False,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,True,False,True,False,False,True,False,False,True,True,True,False,False,False
3,False,True,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,True,False,False,False,False,False,True,False,False,False,False,False,False,True

In [29]:
fre_items = apriori(df, min_support = 0.3, use_colnames = True)
fre_items

     support          itemsets
0   0.333333           (bread)
1   0.333333         (chicken)
2   0.666667           (chips)
3   0.500000            (eggs)
4   0.333333            (milk)
5   0.333333          (nutmeg)
6   0.333333           (onion)
7   0.333333          (yogurt)
8   0.333333  (bread, chicken)
9   0.333333     (eggs, chips)
10  0.333333    (nutmeg, eggs)
11  0.333333     (eggs, onion)
12  0.333333    (milk, yogurt)

In [30]:
arm = association_rules(fre_items, metric = 'confidence', min_threshold = 0.2)
arm[['antecedents',	'consequents', 'support',	'confidence']]

  antecedents consequents   support  confidence
0     (bread)   (chicken)  0.333333    1.000000
1   (chicken)     (bread)  0.333333    1.000000
2      (eggs)     (chips)  0.333333    0.666667
3     (chips)      (eggs)  0.333333    0.500000
4    (nutmeg)      (eggs)  0.333333    1.000000
5      (eggs)    (nutmeg)  0.333333    0.666667
6      (eggs)     (onion)  0.333333    0.666667
7     (onion)      (eggs)  0.333333    1.000000
8      (milk)    (yogurt)  0.333333    1.000000
9    (yogurt)      (milk)  0.333333    1.000000